h1{
    text-align: center;
    font-family: 'LobsterRegular';
    font-weight: normal;
    font-style: normal;
}
td{
    width: 150px;
    height: 300px;
    /* background-color: aqua; */
    border: 5px solid white;
}
table{
    margin: auto;
}
#one{
    
    background-color: #e63946;
}
#two{
    background-color: #F1FAEE;
}
#three{
    background-color: #A8DADC;
}
#four{
    background-color: #457B9D;
}
#five{
    background-color: #1D3557;
}